@model Umbraco.Cms.Core.Models.IDomain

<div class="card mt-3">
    <div class="card-header">
        <strong>Domain Details</strong>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Key</dt>
            <dd class="col-sm-9">@Model.Key</dd>

            <dt class="col-sm-3">Domain Name</dt>
            <dd class="col-sm-9">@Model.DomainName</dd>

            <dt class="col-sm-3">Language Id</dt>
            <dd class="col-sm-9">@Model.LanguageId</dd>

            <dt class="col-sm-3">Language Iso Code</dt>
            <dd class="col-sm-9">@Model.LanguageIsoCode</dd>

            <dt class="col-sm-3">Root Content ID</dt>
            <dd class="col-sm-9">@Model.RootContentId</dd>

            <dt class="col-sm-3">Is Wildcard</dt>
            <dd class="col-sm-9">
                @if (Model.IsWildcard)
                {
                    <span class="badge bg-success">Yes</span>
                }
                else
                {
                    <span class="badge bg-secondary">No</span>
                }
            </dd>

            <dt class="col-sm-3">Sort Order</dt>
            <dd class="col-sm-9">@Model.SortOrder</dd>

            <dt class="col-sm-3">Create Date</dt>
            <dd class="col-sm-9">@Model.CreateDate.ToShortDateString()</dd>
        </dl>
    </div>
</div>