@using BlockFarmEditor.Components.Blocks.Modal
@model ModalProperties
@{
    var modalId = !string.IsNullOrWhiteSpace(Model.ModalId) ? Model.ModalId : Guid.NewGuid().ToString("N")[..8];
    var modalClass = "modal fade";
    var modalDialogClass = "modal-dialog";
    
    if (!string.IsNullOrWhiteSpace(Model.ModalSize))
    {
        modalDialogClass += $" {Model.ModalSize}";
    }
    
    if (Model.Centered)
    {
        modalDialogClass += " modal-dialog-centered";
    }
    
    if (Model.Scrollable)
    {
        modalDialogClass += " modal-dialog-scrollable";
    }
}

<!-- Button trigger modal -->
<button type="button" class="btn @Model.TriggerButtonStyle" data-bs-toggle="modal" data-bs-target="#@modalId">
    @Model.TriggerButtonText
</button>

<!-- Modal -->
<div class="@modalClass" id="@modalId" tabindex="-1" aria-labelledby="@(modalId)Label" aria-hidden="true"
     @if (Model.StaticBackdrop) { 
         <text>data-bs-backdrop="static" data-bs-keyboard="false"</text>
     }>
    <div class="@modalDialogClass">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(modalId)Label">@Model.ModalTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.ModalContent)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
