@{
    var itemClass = "list-group-item";

    if (!string.IsNullOrWhiteSpace(Model.ItemColor))
    {
        itemClass += $" {Model.ItemColor}";
    }

    if (Model.Active)
    {
        itemClass += " active";
    }

    if (Model.Disabled)
    {
        itemClass += " disabled";
    }

    var link = Model.Link.FirstOrDefault();
    var hasLink = link != null && !string.IsNullOrWhiteSpace(link.Url);

    if (hasLink)
    {
        itemClass += " list-group-item-action";
    }
}

@if (hasLink)
{
    <li class="@itemClass">
        <a href="@link.Url" class="@itemClass"
           @if (!string.IsNullOrWhiteSpace(link.Target))
           {
               <text>target="@link.Target"</text>
           }
           @if (Model.Disabled)
           {
               <text>tabindex="-1" aria-disabled="true"</text>
           }>
            @Html.Raw(Model.Content)
        </a>
    </li>
}
else
{
    <li class="@itemClass"
        @if (Model.Active)
        { <text> aria-current="true" </text>  }
        @if (Model.Disabled)
        { <text> aria-disabled="true" </text>  }>
        @Html.Raw(Model.Content)
    </li>
}
